.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.profile {
  transition: transform 0.3s ease;
}

.profile:hover {
  transform: scale(1.1);
  z-index: 2;
  filter: brightness(1.1);

  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.25),
    inset -2px -2px 6px rgba(255, 255, 255, 0.2),
    0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-text {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

/* Bikin after jadi full block */
.card-text::after {
  content: attr(data-nim);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0s ease-in-out;
}

/* Jangan pakai display:none, ganti ke opacity */
.profile:hover .text-name {
  opacity: 0;
}

.profile:hover .card-text::after {
  opacity: 1;
}

.card_topic {
    box-shadow: 
    inset 0px 0px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 5px rgba(0, 0, 0, 0.462);
}

.hover:hover {
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.25),
    inset -2px -2px 6px rgba(255, 255, 255, 0.2),
    0 4px 12px rgba(0, 0, 0, 0.1);
}

.liquid_glass{
  /* 🎨 Glassmorphism magic */
    background: rgba(255, 255, 255, 0.15); /* transparan */
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(30px) saturate(180%); /* Safari/iOS */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 40ga  30px rgba(0, 0, 0, 0.1);

    /* Inner shadow buat depth */
    box-shadow:
        inset 2px 2px 6px rgba(0, 0, 0, 0.25),  /* bayangan ke dalam */
        inset -2px -2px 6px rgba(255, 255, 255, 0.2), /* highlight */
        0 4px 12px rgba(0, 0, 0, 0.1); /* shadow luar tipis */

    color: gray;
}